

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    background-color:#C6E9F9 ;
    font-family: 'Inter', 'Arial';
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

p {
    margin-left: 1em;
    margin-bottom: 0;
    text-align: center;
}
/* ////////////////////// HEADER ////////////////////////// */
header {
    background-color: #0D5C63;
    font-size: 1.75em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    margin-left: 1.4375em;
    margin-top: 0.6875em;
    margin-bottom: 0.6875em;
}
.nav-toggle {
    display:none;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 4.375em;
    justify-content: end;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 4.125em;
    padding-bottom: 1em;
}

header a {
    text-decoration: none;
    color:#C6E9F9;
}

header a:hover {
    text-decoration: underline;
}

/* ////////////////// MAIN ////////////////////////// */

.scroll-color-change {
    transition: all 2s;
  }

.play {
    animation-play-state: running !important;
    
}

#banner {
    background-color: #0D5C63;
    color:#C6E9F9 ;
    width:fit-content;
    padding: 0.01em 3em 0.01em 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    animation: slide-in-out 3s ease 1 both;
    transform-origin: right bottom;
    border-radius: 5%;
}

@keyframes slide-in-out {
    0% {
        left: -30em;
        transform: skew(0);
    }
    45% {
        transform: skew(0);
    }
    47%{
        transform: skew(0);
    }
    70% {
        left: 35%;
        transform: skew(-40deg, 0deg);
    }
    100% {
        left: 35%;
        transform: skew(0);
    }
}

#experiments {
    display: grid;
    grid-template-columns: repeat(1, 30em);
    grid-template-rows: repeat(6, 30em);
    place-items: center;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 2em;
    gap: 1em;
}

.item {
    border: 3px solid #082528;
    place-self: stretch;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 12px #082528
}

/* //////////////////// RECORD PLAYER ///////////////////////// */
#record-table {
    background-color: burlywood;
    height: 20em;
    width: 22em;
    position: relative;
    top: 5%;
    left: 15%;
    box-shadow: inset 0px 0px 20px 4px #A26245;
}

#record {
    border-radius: 50%;
    height: 15em;
    width: 15em;
    background-image: linear-gradient(black, black, #aaaaaa, black, black);
    position: absolute;
    top:10%;
    left:10%;
    animation: record-spin 1s linear infinite 3s; 
    animation-play-state: paused;
}

@keyframes record-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#record-label {
    border-radius: 50%;
    border: 2em solid red;
    height: 1.3em;
    width: 1.3em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#record-arm {
    background-color: grey;
    width: 1.5em;
    height: 14em;
    border-radius: 20%;
    position: relative;
    top: 10%;
    left: 87%;
    transform-origin: top center;
}

@keyframes record-arm {
    0% {
        transform:rotate(0);
    }
    100% {
        transform:rotate(30deg);
    }
}

.record-arm-forward {
    animation: record-arm 3s ease 1 forwards;
    animation-play-state: running;
}

.record-arm-reverse{
    animation: record-arm-reverse 3s ease 1 forwards !important;
    animation-play-state: running !important;
}

@keyframes record-arm-reverse {
    0% {
        transform:rotate(30deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

#stop-start {
    height: fit-content;
    width: 3em;
    text-align: center;
    background-color: grey;
    color: white;
    position: relative;
    left: 80%;
    top:3em;
    box-shadow: -1px 2px 0px 3px black;
}

#stop-start:hover {
    background-color: darkgrey;
    box-shadow: -1px 2px 0px 3px black;
    
}

#stop-start:active {
    background-color: white;
    color:grey;
    box-shadow: -1px 2px 0px 3px grey;
}

/* //////////////////// SPILLING MUG ///////////////////////// */
#coffee-instructions{
    display: block;
    margin-top: 1em;
    text-align: center;
}

#mug {
    top:5em;
}

.mug-tilt {
    animation: mug-tilt 7s ease 1s 1 both;
}

@keyframes mug-tilt {
    0% {
        transform:rotate(0);
    }
    57%{
        transform: rotate(100deg);
    }
    100% {
        transform:rotate(100deg);
    }
}

#cup {
    height:12em;
    width:8em;
    background-color: #f5f5dc;
    position:relative;
    top: 6em;
    left: 30%;
    border-top-left-radius: 45% 10%;
    border-top-right-radius: 45% 10%;
    border-bottom-left-radius: 45% 10%;
    border-bottom-right-radius: 45% 10%;
    z-index:-2;
}

#cup-cover {
    height:9em;
    width:6.5em;
    border-bottom-left-radius: 45% 10%;
    border-bottom-right-radius: 45% 10%;
    background-color: #f5f5dc;
    position: absolute; 
    top: 5em;
    left: 9em;
    z-index: 10; 
    opacity: 0;
}

.mug-tilt-cover {
    animation: mug-tilt-cover 7s ease 1s 1 both; 
}

@keyframes mug-tilt-cover {
    0% {
        transform:rotate(0);
        top: 10.5em;
        opacity: 100%;
    }
    57%{
        transform: rotate(100deg);
        top:6em;
        opacity: 100%;
    }
    100% {
        transform:rotate(100deg);
        top:6em;
        opacity: 100%;
    }}

#cup-hole {
    height: 2em;
    width: 7em;
    border-radius: 50%;
    background:linear-gradient(#f5f5dc, #c4c4b0);
    position: relative;
    top: 2%;
    left: 6%;
}

#handle {
    height: 5.5em;
    width: 4em;
    border-radius: 50%;
    border: 1.2em solid #f5f5dc;
    position: relative;
    top: -3.5em;
    left: 17%;
}

#coffee-puddle {
    border-radius: 120%;
    height: 4em;
    width:17em;
    background-color: #5d3713;
    position: relative;
    left: 33%;
    opacity: 0;
}
.puddle {
    animation: puddle 7s ease 5s 1 both;
}

@keyframes puddle {
    0% {
        transform: scale(0);
        opacity: 100%;
    }
    100% {
       transform: scale(1.25);
       opacity: 100%;
    }
}

#coffee-flow {
    height: 10.2em;
    position: relative;
    background-color: #5d3713;
    border-radius: 40%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 20%;
    z-index: 0;
    opacity:0;
}

.coffee-spill {
    animation: coffee-spill 8s ease 4s 1 both;
}

@keyframes coffee-spill {
    0% {
        left:40%;
        bottom:70%;
        transform: scale(0) rotate(-100deg);
        width: 2em;
        opacity: 100%;

    }
    18% {
        left: 62%;
        transform: scale(1) rotate(-15deg);
        opacity: 100%;
    }
    30%{
        bottom:42%;
        opacity: 100%;
    }
    50%{
        width:2em;
        opacity: 100%;
    }
    85% {
        bottom:41%;
        left: 57%;
        transform: scale(1);
        width: 1em;
        opacity: 100%;
    }
    100% {
        bottom:20%;
        left: 62%;
        transform: scale(0);
        width: 1em;
        opacity: 100%;
    }
} 

/* //////////////////// BEATING HEART ///////////////////////// */
#heartbeat p {
    text-align: center;
}
#heart {
    display: inline-block;
    height: 10em;
    margin: 0 10px;
    position: relative;
    top: 30%;
    left: 30%;
    width: 10em;
    rotate: -45deg;
    animation: beat 1s ease-in-out infinite both,
            color-change 1s ease-in-out infinite both;
    animation-play-state: paused;
  }
  
#heart::before,
#heart::after {
    content: "";
    border-radius: 50%;
    height: 10em;
    position: absolute;
    width: 10em;
    animation: color-change 1s ease-in-out infinite both;
    animation-play-state: paused;
  }

#heart.animate::before,
#heart.animate::after {
    animation-play-state: running;
}
  
#heart:before {
    top: -5em;
    left: 0;
  }
  
#heart:after {
    left: 5em;
    top: 0;
  }

@keyframes beat {
 0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
@keyframes color-change {
    0%{
        background-color: #9f2445;
    }
    20%{
        background-color: #f42b61;;
    }
    40%{
        background-color: #9f2445;
    }
    60%{
        background-color: #f42b61;
    }
    80%{
        background-color: #9f2445;
    }
    100%{
        background-color: #9f2445;
    }
}

/* //////////////////// BLOOMING FLOWER ///////////////////////// */

#flower {
    position: relative;
}

#stem {
    height: 17.5em;
    width:1em;
    background-color: green;
    position:absolute;
    left:calc(50% - 0.5em);
    top: 12em;
}

#flower-center {
    height:4em;
    width:4em;
    border-radius: 50%;
    top: 10.3em;
    left: calc(50% - 2em);
    position: absolute;
    background: radial-gradient(circle, #f8fe00 11%, #ff4c0000 95%);
    opacity: 0;
}

.center-bloom {
    animation: center-bloom 4s ease 1 both;
}

@keyframes center-bloom {
    0%{
        background-color: #36b71f;
        transform: scale(0.3);
        opacity: 100%;
    }

    100% {
        background-color: #ff4c00;
        transform: scale(1);
        opacity: 100%;
    }
}

.petal {
    height: 7em;
    width: 3em;
    border-radius: 100%;
    background-color: #ffc0cb;
    top:5em;
    left:calc(50% - 1.5em);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center 120px;
    box-shadow: inset 0px 0px 25px 0px #f39fad;
    opacity: 0;
}
.petal-bloom {
    animation: bloom 4s ease 2s 1 both;
}
#petal-1 {
    rotate: 36deg;
}

#petal-2 {
    rotate: 72deg;
}

#petal-3 {
    rotate: 108deg;
}

#petal-4 {
    rotate: 144deg;
}

#petal-5 {
    rotate: 180deg;
}

#petal-6 {
    rotate: 216deg;
}

#petal-7 {
    rotate: 252deg;
}

#petal-8 {
    rotate: 288deg;
}

#petal-9 {
    rotate: 324deg;
}

#petal-10 {
    rotate: 360deg;
}

@keyframes bloom {
    0% {
        transform: scale(0);
        opacity: 100%;
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

/* //////////////////// BOUNCING i ///////////////////////// */

#i-bottom {
    height: auto;
    position: absolute;
    text-align: center;
    left: calc(50% - 1em);
    background: linear-gradient(90deg, #0004bb 0%, #17c3e7 53%, #00bdff 95%);
    transform: translate(-50%, 0);
    border: 2px solid white;
    animation: squish 1s ease infinite;
    animation-play-state: paused;
}

#i-top {
    bottom: 2em;
    height: 2em;
    border-radius: 50%;
    background: linear-gradient(-90deg, #0004bb 0%, #17c3e7 53%, #00bdff 95%);
    position: absolute;
    left: calc(50% - 1em);
    border: 2px solid white;
    transform: translate(-50%, 0);
    animation: bounce 1s ease infinite;
    animation-play-state: paused;
}

@keyframes bounce {
    0%{
        top: 2em;
        width: 2em;
    }
    50%{
        top: 16.5em;
        width: 3em;
    }
    100%{
        top: 2em;
        width: 2em;
    }
}

@keyframes squish {
    0%{
        top: 13em;
        bottom: 2em;
        width:2em;
    }
    50%{
        top: 18em;
        bottom: 2em;
        width: 3em;
    }
    100%{
        top: 13em;
        bottom: 2em;
        width:2em;
    }
}



/* //////////////////// FOOTER ///////////////////////// */
#footer {
    background-color: #0D5C63;
    color: #C6E9F9;
    font-size: 1.25em;
    padding-left: 2.875em;
    padding-top: 3.875em;
    padding-right: 1.875em;
    padding-bottom: 1em;
    display: flex;
    align-items: baseline;
    align-content: flex-end;
    justify-content: space-between;
    gap: 4em;
}

#footer a {
    text-decoration: none;
    color: #C6E9F9;
}

#footer a:hover {
    text-decoration: underline;
}

#copyright {
    width: 60%;
}

#break {
    display: none;
}

